@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 17, 17, 17;
    --background-start-rgb: 253, 253, 253;
    --background-end-rgb: 253, 253, 253;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

.text-balance {
    text-wrap: balance;
}

.border-thin {
    border-width: 1px;
}